:root {
    --background-color: rgb(30, 30, 38);

    --card-color: dodgerblue;
    --used-card-color: rgb(120, 187, 255);
    --card-text-color: white;

    --ui-color: rgb(16, 16, 24);
    --ui-accent-color: rgb(31, 31, 61);
    --ui-text-color: white;
}
html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
}
p, a, h2 {
    color: var(--ui-text-color);
    font-family: Arial;
    margin: 0;
    text-decoration: none;
    text-align: center;
}
h1 {
    color: var(--ui-text-color);
    font-family: Arial;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
#app {
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    overflow: auto;
}

.card-group {
    display: flex;
    gap: 2.6666666%;
    width: 100%;
}
.card-in-group {
    flex-basis: 23%
}
.question-container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.caption-enter-active,
.caption-leave-active {
    transition: transform 0.5s ease;
}

.caption-enter-from,
.caption-leave-to {
    transform: translate(0, 100%);
}

.wall-move {
    transition: all 0.25s ease-out;
}

.card-enter-from, .card-leave-to {
    transform: matrix(0.3, -0.2, 0, 0.8, -100, -50);
    opacity: 0;
}
.card-enter-active, .card-leave-active {
    transition: all 0.5s ease;
}

.card {
    background-color: var(--card-color);
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}