@use 'base';

#quiz-table {
    border-spacing: 0;
    width: 80%;
    margin: auto;
    border: solid white 4px;
    border-radius:10px;
    font-size: 1.5em;
    transition: height 5s;
    thead {
        background-color: base.$ui-background-color;
        th:nth-child(1) {
            width: 25%;
        }
    }
    
    tbody {
        tr {
            width: 100%;
            .icons {
                display: flex;
                justify-content: flex-end;
                grid-column: 4;
                padding: 0.2em;
                img {
                    visibility: hidden;
                    margin-left: 0.25em;
                    margin-right: 0.25em;
                }
            }
            &:hover .icons img {
                visibility: visible;
            }
        }
    }
}
