@use 'base';

#home-page-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    #quiz-manager {
        flex-grow: 1;
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin-left: 2em;
        margin-right: 2em;
        margin-bottom: 2em;
        height: 100%;
        gap: 1em;
        #buttons-container {
            display: flex;
            flex-direction: column;
            border: solid white 4px;
            border-radius: 10px;
            background-color: base.$ui-background-color;
            & > *:first-child {
                border-top-left-radius:6px;
                border-top-right-radius:6px;
            }
            .button {
                padding: 1em;
                transition: background-color 0.25s;
                background-color: base.$ui-background-color;
                &:hover {
                    background-color: base.$accent-color
                }
                p {
                    margin: 0;
                    text-align: left;
                }
                img {
                    height: 1em;
                    transition: scale 0.1s;
                    float: right;
                }
                img:hover {
                    scale: 1.2;
                }
            }
        }
        #quiz-grid {
            grid-column: 2;
            overflow: scroll;
            height: 100%;
            border: solid white 4px;
            border-radius:10px;
            font-size: 1.5em;
            box-sizing: border-box;
            #inner {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr max-content;
                b.header {
                    background-color: base.$ui-background-color;
                }
                .quiz-preview {
                    width: 100%;
                    display: contents;
                    &:nth-child(even) * {
                        background-color: base.$accent-color;
                    }
                    .icons {
                        display: flex;
                        justify-content: flex-end;
                        grid-column: 4;
                        padding: 0.2em;
                        gap: 0.5em;
                        img {
                            visibility: hidden;
                        }
                    }
                    &:hover .icons img {
                        visibility: visible;
                    }
                }
            }
        }
    }
}
