@use 'base';
@use 'cards';
@use 'vowel';
@use 'menus';
@use 'home';
@use 'are-you-sure';
@use 'editor';

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Arial;
}
#app {
    width: 100%;
    height: 100%;
    background-color: base.$background-color;
    overflow: auto;
}
.question-container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.caption-enter-active,
.caption-leave-active {
    transition: transform 0.5s ease;
}

.caption-enter-from,
.caption-leave-to {
    transform: translate(0, 100%);
}